@-moz-document domain("github.com") {

/* TBD: ... something? */
.container-xl { 
  max-width: none !important;
}

/* TBD: ... something? */
.dyXZok {
  max-width: none !important;
}

/* This is the (new react v2) issue page */
.lgWemw {
  max-width: none !important;
}

/* This is the (new react v2) issue main body */
.flnrSO {
  width: 100% !important;
  
  /* Leave room for issue sidebar */
  max-width: calc(100% - 426px);
}

/* This is the (new react v2) issue sidebar */
.gypOwM {
  width: 33%;
  max-width: 426px;
}

.comment-holder {
  max-width: 100%;
}

}
